/* general element styles. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}    

body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    border-style: solid;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

p {
    margin-bottom: 16px;
}    

/* header elements */
header {
    float: left
    background-color: #ffffff;
    color: #ffffff;
   /* height: 150px; */
    width: 100%; 
    margin-top: 0px;
}    

header img {
    /* float: left;
    padding: 0px; /* TRouBLe */
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    width:20%;
}

.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
opacity: 1;
}

.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 0.5;
opacity: 0.5;
}
    
header nav {
    margin-top: 80px;
    margin-right: 55px;
    width: 60%;
    float:right;
    
}

header a {
    color: #000000;
    margin-right: 20px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
}

header .disable-me {
     pointer-events: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

/*figure w/ caption in the article container */

article {
    width: 100%;
}

figure {
    /* float:left; */
    margin-left: 30px;
    /*margin-right: auto;*/
    width: 20%;
    /*height:400px;*/
   /* text-align: center; */
    
} /* makes figure container w/ image responsive */

figure img {
    padding: 0px;
    width:100%;
    /* margin-left: auto;*/
    margin-right: auto; 
    border-style: solid;
    border-width: 5px;
} 

aside {
    float:right;
    width: 60%;
    margin-left: 0px;
    margin-right: 25px;
    margin-top: 5px;
}
 
footer {
    clear: both;
    color: #000000;
    padding: 0 10px 0 10px;
    margin-left: 30px;
}

h1 {
    font-size: 36px;
}

socialbar {
    width 30%;
    float: left
    clear:both;
}

socialbar img {
    width: 5%
}

@media screen and (max-width: 600px)
    
    nav {}