/*general element styles. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}    

body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    border-style: solid;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;        
}

p {
    margin-bottom: 16px;
}    

/*header elements */
header {
    float: left
    background-color: #ffffff;
    color: #ffffff;
    height: 150px;
    width: 100%
    
}    

header img {
    float: left;
    padding: 0px; /* TRouBLe */
    *margin-right: 0px;
    margin-left: 5px;
    width:25%;
}

.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
opacity: 1;
}

.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 0.5;
opacity: 0.5;
}
    
header nav {
    margin-top: 50px;
    margin-right: 10px;
    width: 65%;
    float:right;
    
}

header a {
    color: #000000;
    margin-right: 10px;
    margin-left: 30px;
    text-decoration: none;
}

header .disable-me {
     pointer-events: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

/*article container that includes an img w/in a fig, and a section container.*/

article {
    float: left;
    width: 100%;
    padding 0 10px 0px 10px;
}   

/*figure w/ caption in the article container */
figure {
    width: 30%;
    height: 345px;
    border:solid;
} /* makes figure container w/ image responsive */

figure img {
    float: left;
    padding: 5px;
   /* background: #000000; */
    width:100%;
} /* styles the image. */

/* Floating the section container with the article text to the right */
section {
    width: 65%;
    height: 345px;
    float:right;
    border: solid;
    margin-right:10px;
}

/* More specific text design in the section container */
section h1 {
	color: #111111;
    font-family: georgia, serif;
    font-size: 36px;
    line-height: 44px    
}

section h2 {
    color: #111111;
    font-family: georgia, serif;
    line-height: 44px
    
}  
  
footer {
    clear: both;
    color: #000000;
    /*border-bottom-style:inset*/
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 600px)
    
    nav {
        
    
    
    
}