/* general element styles. for whole page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}    

/* entire page body descriptors */
body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;  
}

/* entire page id=wrapper descriptors */
#wrapper {
    border-style: solid;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    height: 750px;
}

 /*sizes all paragrapgh text*/
p {
    margin-bottom: 16px;
}    

/* header container elements */
header {
    float: left
    background-color: #ffffff;
    color: #ffffff;
    width: 100%; 
    /*height: 20%;*/
    margin-top: 0px;
}    

header img {
    /* float: left;
    padding: 0px; /* TRouBLe */
    margin-right: auto;
    margin-left: 30px;
    margin-top: 0px;
    width: 20%;
}

/* this code highlights icons */
.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
opacity: 1;
}

.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 0.5;
opacity: 0.5;
}
    
header nav {
    margin-top: 80px;
    margin-right: 95px;
    width: 60%;
    float:right;  
}

nav a {
    color: #000000;
    margin-right: 20px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
}

header .disable-me {
     pointer-events: none;
}

/*header a:link {}
header a:visited {}*/
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

 subnav {
     border: solid;
     border-width: 2px;
     margin-left: 200px;
     margin-bottom: : 1000px;
}

subnav a {
    color: #000000;
    margin-right: 20px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
}

article .disable-me {
     pointer-events: none;
}

/*article a:link {}
article a:visited {}*/
/*article a:hover {
    color: #cccccc;          
} 
article a:active {
    text-decoration: underline;
}

article a:focus {}

/*figure w/ caption in the article container */

article {
    width: 100%;
    height: 500px;
}

figure {
    /* float:left; */
    margin-left: 30px;
    /*margin-right: auto;*/
    width: 22%;
    /*height:400px;*/
   /* text-align: center; */
    
} /* makes figure container w/ image responsive */

figure img {
    padding: 0px;
    width:100%;
    /* margin-left: auto;*/
    margin-right: auto;
   /* margin-bottom: 200px;*/
    border-style: solid;
    border-width: 5px;
} 

aside {
    float:right;
    width: 60%;
    margin-left: 0px;
    margin-right: 65px;
    margin-top: 5px;
}
 

h1 {
    font-size: 36px;
}

socialbar {
    /*border: solid;
    border-width: 2px;*/
    width: 22%;
    float: left;
    margin-left: 30px;
}

socialbar img {
    width: 17%
}

footer {
    clear: both;
    color: #000000;
    padding: 0 10px 0 10px;
    margin-left: 30px;
}
@media screen and (max-width: 600px)
    
    nav {}