*{
    box-sizing: border-box;
} /* Can slap this on the top of most CSS pages you create. Star means select everything, and the border box property makes its so the widths dont add more than 100% */

h1 { 
            color: #ff4a00; /* orange */
        }

 h2 { 
     font-size: 22px;      
     color: #0021a5; /* blue */
     
        }

p { 
    font-family: arial, helvetica, sans-serif; /* typically provide three font options can look up fint-family stacks*/
    font-size: 16px;
    line-height: 24px; /* use a mental typographical scale */
}  

img {
    border: 5px solid #cccccc; /*grey*/
    margin: 0 5% 0  5%;
    padding: 5px; /* Space on the inside but adds to the over all width. */
    /* TRouBLe */ /* Border Box Model */
    width: 30%;
}