/*general element styles. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}    

body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    border-style: solid;
    border-width: 5px;
    margin-left: 15%;
    margin-right: 15%;        
}

p {
    margin-bottom: 16px;
}    

/*header elements */
header {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    color: #ffffff;
    height: 150px;
}    

header img {
    float: left;
    padding: 0px; /* TRouBLe */
    margin-right: 0px;
    margin-left: 0px;
    width:25%;
}
    
header navleft {
    float:left;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 50px;
    width: 25%;
}

header navleft a {
    color: #000000;
    margin-right: 15px;
    margin-left: 0px;
    text-decoration: none;
}

header navright {
    margin-top: 50px;
    margin-right:0px;
    margin-left: 20px;
    width: 29%;
    float:left;
}

header navright a {
    color: #000000;
    margin-right: 15px;
    margin-left: 0px;
    text-decoration: none;
}

/*header a {
    color: #000000;
    margin-right: 0px;
    margin-left: 0px;
    text-decoration: none;
}*/

header .disable-me {
     pointer-events: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

/*article container that includes an img w/in a fig, and a section container.*/

article {
    float: left;
    width: 100%;
    padding 0 10px 0px 10px;
}   

/*figure w/ caption in the article container */
figure {
    width: 50%;
    height: 400px;
    margin-left:200px
} /* makes figure container w/ image responsive */

figure img {
    float: left;
    padding: 5px;
   /* background: #000000; */
    width:100%;
} /* styles the image. */
 
footer {
    clear: both;
    color: #000000;
    /*border-bottom-style:inset*/
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 600px)
    
    nav {
        
    
    
    
}